[submodule "zerox_engine_platform"]
	path = zerox_engine_platform
	url = https://github.com/KarimTakieddine/zerox_engine_platform.git
[submodule "zerox_engine_renderer"]
	path = zerox_engine_renderer
	url = https://github.com/KarimTakieddine/zerox_engine_renderer.git
[submodule "memory_reader"]
	path = memory_reader
	url = https://github.com/KarimTakieddine/memory_reader.git
[submodule "zerox_game"]
	path = zerox_game
	url = https://github.com/KarimTakieddine/zerox_game.git
